
.button {
  -fx-background-color: #4fd4e5;
  -fx-text-fill:  #2D3443;
  -fx-background-radius: 20px;
}

.button:hover{
  -fx-background-color: #f15a23;
  -fx-text-fill: #ffffff;
  -fx-background-radius: 10px;
}

.textField{
    -fx-text-fill : #b2b2b1;
    -fx-background-color: none;
    -fx-border-color:#b2b2b1;
    -fx-border-radius:10px;
}

.textField:hover{
    -fx-border-color:#4fd4e5;
    -fx-border-width:2px;
}

.textAera:hover{
    -fx-border-color:#4fd4e5;
    -fx-border-width:2px;
}

.textAera{
    -fx-text-fill : #b2b2b1;
    -fx-background-color: none;
    -fx-border-color:#b2b2b1;
    -fx-border-radius:10px;
}

.textAera .content{
    -fx-background-color: #2D3443;
}

.textAera .scroll-pane {
    -fx-background-color: #2D3443;
}