
.button {
  -fx-background-color: #b2b2b1;
  -fx-text-fill:  #2D3443;
  -fx-background-radius: 20px;
}

.button:hover{
  -fx-background-color: #4fd4e5;
  -fx-text-fill: #2D3443;
  -fx-background-radius: 15px;
}